name: build Circuit Artist artifacts
on: [ push ]

jobs:
  build-artifacts:
    strategy:
      matrix:
        kinds:
#        - machine: macos-13
#          # language=sh
#          build: |
#            set -euo pipefail
#            mkdir objdir
#            cd    objdir
#            cmake -G 'Unix Makefiles' -DCMAKE_VERBOSE_MAKEFILE=ON ..
#            echo 'Working around a custom_command silly ...' >&2
#            make -C ../LuaJIT || true
#            ls -la ../LuaJIT/src/*.so
#            cmake --build .
#            ls -la
        - machine: windows-2025
          # thankfully, windows-2019 ships with cmake in %ProgramFiles%
          # language=PowerShell
          build: |
            cd LuaJIT/src
            cmd /c msvcbuild.bat
            cd ../..
            echo "Listing LuaJIT build output:"
            gci -Path LuaJIT/src -Include *.lib,*.dll -Name
            mkdir objdir
            cd objdir
            cmake ..
            cmake --build .

    runs-on: ${{ matrix.kinds.machine }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    - name: cache luajit download
      uses: actions/cache@v4
      with:
        key: ${{ hashFiles('CMakeLists.txt') }}
        path: |
          third_party/*.gz
    - name: doit
      run: ${{ matrix.kinds.build }}
    - name: capture built artifact
      uses: actions/upload-artifact@v4
      with:
        name: built circuit-artifact executable
        # this in lieu of messing with CPack
        path: |
          objdir/ca*
          objdir/*.dll
          objdir/*.dylib
          objdir/*.so
          LuaJIT/src/*.dll
          LuaJIT/src/*.dylib
          LuaJIT/src/*.so
        retention-days: 7  # shrug
